#skills .progress-bar{
	text-align: left;
	padding-left: 10px;
}
#contact{
	margin-bottom: 100px;
}
.page-header{
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0;
}
.row-main{
	border-bottom: 1px solid #eee;
	padding-top: 20px;
	padding-bottom: 20px;
}
.row-sub{
	margin-bottom: 30px;
}
.green-label{
	margin-bottom: 20px;
}
.row ul{
	padding-left: 20px;
}
	.row ul.resume-buttons{
		padding-left: 5px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.row ul.contact-info{
		padding-left: 0;
		margin-bottom: 10px;
	}
body{
	padding-top: 70px; /* to allow for fixed navbar */
	min-height: 1500px;
	background-image: url("/images/background-pattern-3.jpg");
	margin-bottom: 200px;
}
.container{
	background-color:rgba(255, 255, 255, 1.0); /* opaque for now, left open to transparency if needed */
}
nav #menu a:hover{
	color: #555;
	background-color: #e7e7e7;
}
nav .navbar-right li a{
	height: 50px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.navbar-header  button{
	border: none;
}
.navbar-header .navbar-toggle{
	margin-left: 10px;
}
.navbar-brand{
	margin-right: 20px;
}
nav .fa{
	font-size: 24px;
}
.fa{
	color: #5cb85c;
}
.fa-tree{
	margin-right: -17px;
}
.fa-envelope{
	font-size: 24px;
	padding-left: 5px;
	margin-right: 5px;
}
.background-tree{
	opacity: 0.65;
}
.contact-info li{
	margin-bottom: 5px;
}
.contact-info,
.resume-buttons{
	list-style: none;
	padding-left: 0;
}
.resume-buttons li{
	display: inline-block;
	margin-right: 10px;
}
	.resume-buttons li a .fa:hover{
		color: #555;
	}
h1, h2, h3, h4{
	margin-top: 0;
}
img{
	display: block;
	width: 100%;
}
.thumbnail h3{
	margin-top: 10px;
}

@media (min-width: 992px){
	.thumbnail{
		width: 32.3%;
		margin-right: 1%;
		height: 500px;
	}	
}
@media (min-width: 768px) and (max-width: 991px){
	.thumbnail{
		width: 49%;
		margin-right: 1%;
		height: 500px;
	}
}
@media (max-width: 767px){
	.thumbnail{
		width: 98%;
		margin-right: 1%;
		margin-left: 1%;
	}
}

/* ----------------- Print styles -------------- */
@media print{
	body {
		color: #000;		
		background-image: none;
		background: #fff;
		font: 12pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
	}
	h1{
		font-size: 30pt;
	}
	h2{
		font-size: 14pt;
	}
	h3,
	h4{
		font-size: 12pt;
	}
	nav,
	h2 .fa,
	.resume-buttons,
	#skills,
	#portfolio,
	#contact
	{
		display:none;
	}
	.row-main,
	.page-header{
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	#contact{
		margin-bottom: 0;
	}
	.contact-info li{
		display: inline;
		padding: 20px;
	}
	#experience li a{
		font-weight: bolder;
		text-decoration: none;
	}
	#experience li a[href^=http]:after{
		content:" <" attr(href) "> ";
	}
}